<app-home></app-home>
<hr />

<h3 class="mt-5 mb-4">Reservations</h3>

<table
  class="table table-striped table-bordered"
  *ngIf="reservations.length; else noReservationsExist"
>
  <thead>
    <tr>
      <th>Guest</th>
      <th>Email</th>
      <th>Room</th>
      <th>From</th>
      <th>To</th>
      <th>Modify Your Trip</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.guestName }}</td>
      <td>{{ reservation.guestEmail }}</td>
      <td>{{ reservation.roomNumber }}</td>
      <td>{{ reservation.checkinDate }}</td>
      <td>{{ reservation.checkoutDate }}</td>
      <td>
        <button
          class="btn btn-sm btn-danger"
          (click)="onDeleteReservation(reservation.id)"
        >
          Cancel
        </button>
        <!-- remember, to get bindings for routerLink, we need to import RouterModule into the module where this component, ReservationList in this case, is imported -->
        <button
          class="btn btn-sm btn-secondary mx-1"
          [routerLink]="['/edit', reservation.id]"
        >
          Update
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- This needs to be activated, and it only renders when there are no reservations -->
<ng-template #noReservationsExist>
  <p>No reservations found</p>
</ng-template>
<!-- This is called a template-reference. It can be coupled to a ngIf
to be referenced in a condition such that it will be rendered, or not, based 
on the condition.
-->
